body {
    background-color: #2FA4FF;
}

hr {
    height: 2px;
    background-color: #2FA4FF;
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    color: grey;
}

h1 {
    color: #9aff15;
}

h3 {
    color: #9aff15;
}

p {
    color: #DFDFDE
}

li {
    color: #DFDFDE;
}